.meme__cross-button {
    display: none;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url('../../../images/cross-circle-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
    transition: transform .5s;
}

/* .meme__cross-button:hover {
    

} */

@media screen and (max-width:767px) {
    .meme__cross-button {
        width: 25px;
        height: 25px;
        background-size: 25px;
    }
}